# Make a dataframe with cities

In [1]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [2]:
from fastai import *
from fastai.vision import *
from fastai.tabular import *

In [7]:
cd ~/Documents/Work/Programming/fastai/courses/course-v3/

/Users/Ds2007laptop/Documents/Work/Programming/fastai/courses/course-v3

In [8]:
ls

LICENSE                 docs/                   nbs/
README.md               files/                  tools/
azure-pipelines.yml     floyd.yml
data_GPU/               floyd_requirements.txt

In [9]:
ls data_GPU/city_streets/

dallas/            melbourne/         new-york/          san-francisco/
dallas.txt         melbourne.txt      new-york.txt       san-francisco.txt

In [10]:
# define variable: paths to images
fpaths = list(Path('./data_GPU/city_streets/').rglob('*.jpg')); fpaths[:5]

[PosixPath('data_GPU/city_streets/melbourne/00000010.jpg'),
 PosixPath('data_GPU/city_streets/melbourne/00000004.jpg'),
 PosixPath('data_GPU/city_streets/melbourne/00000005.jpg'),
 PosixPath('data_GPU/city_streets/melbourne/00000011.jpg'),
 PosixPath('data_GPU/city_streets/melbourne/00000007.jpg')]

In [11]:
# put fpaths in a Series
fpath_s = pd.Series(fpaths, name='fpaths'); fpath_s.head()

0    data_GPU/city_streets/melbourne/00000010.jpg
1    data_GPU/city_streets/melbourne/00000004.jpg
2    data_GPU/city_streets/melbourne/00000005.jpg
3    data_GPU/city_streets/melbourne/00000011.jpg
4    data_GPU/city_streets/melbourne/00000007.jpg
Name: fpaths, dtype: object

In [12]:
# define variable filenames as a list
fnames = []

# populate the list with file names
# for each path in file paths
for path in fpaths:
    fname = path.name           # call the .name function on path
    fnames.append(fname)        # add each fname to the list fnames
    
fnames[:5]

['00000010.jpg',
 '00000004.jpg',
 '00000005.jpg',
 '00000011.jpg',
 '00000007.jpg']

In [13]:
# create Series with fnames
fname_s = pd.Series(fnames, name='fnames'); fname_s.head()

0    00000010.jpg
1    00000004.jpg
2    00000005.jpg
3    00000011.jpg
4    00000007.jpg
Name: fnames, dtype: object

In [14]:
# define variable for parent 
fparents = []

for path in fpaths:
    fparent = path.parent
    fparents.append(fparent)
    
fparents[:5]

[PosixPath('data_GPU/city_streets/melbourne'),
 PosixPath('data_GPU/city_streets/melbourne'),
 PosixPath('data_GPU/city_streets/melbourne'),
 PosixPath('data_GPU/city_streets/melbourne'),
 PosixPath('data_GPU/city_streets/melbourne')]

In [15]:
# make a Series
fparent_s = pd.Series(fparents, name='fparents'); fparent_s.head()

0    data_GPU/city_streets/melbourne
1    data_GPU/city_streets/melbourne
2    data_GPU/city_streets/melbourne
3    data_GPU/city_streets/melbourne
4    data_GPU/city_streets/melbourne
Name: fparents, dtype: object

In [16]:
# get filename before extension
fstems = []

for path in fpaths:
    fstem = path.stem
    fstems.append(fstem)
    
fstems[:5]

['00000010', '00000004', '00000005', '00000011', '00000007']

In [17]:
# concatonate two Series to make a dataframe
df = pd.concat([fpath_s, fparent_s, fname_s], axis=1); df.head()

,fpaths,fparents,fnames
0,data_GPU/city_streets/melbourne/00000010.jpg,data_GPU/city_streets/melbourne,00000010.jpg
1,data_GPU/city_streets/melbourne/00000004.jpg,data_GPU/city_streets/melbourne,00000004.jpg
2,data_GPU/city_streets/melbourne/00000005.jpg,data_GPU/city_streets/melbourne,00000005.jpg
3,data_GPU/city_streets/melbourne/00000011.jpg,data_GPU/city_streets/melbourne,00000011.jpg
4,data_GPU/city_streets/melbourne/00000007.jpg,data_GPU/city_streets/melbourne,00000007.jpg

In [18]:
df['fparents_str'] = df['fparents'].apply(lambda x: str(x)); df.head()

,fpaths,fparents,fnames,fparents_str
0,data_GPU/city_streets/melbourne/00000010.jpg,data_GPU/city_streets/melbourne,00000010.jpg,data_GPU/city_streets/melbourne
1,data_GPU/city_streets/melbourne/00000004.jpg,data_GPU/city_streets/melbourne,00000004.jpg,data_GPU/city_streets/melbourne
2,data_GPU/city_streets/melbourne/00000005.jpg,data_GPU/city_streets/melbourne,00000005.jpg,data_GPU/city_streets/melbourne
3,data_GPU/city_streets/melbourne/00000011.jpg,data_GPU/city_streets/melbourne,00000011.jpg,data_GPU/city_streets/melbourne
4,data_GPU/city_streets/melbourne/00000007.jpg,data_GPU/city_streets/melbourne,00000007.jpg,data_GPU/city_streets/melbourne

In [19]:
df['class_label'] = df['fparents_str'].str.split("/", expand=True)[2]; df.head()

,fpaths,fparents,fnames,fparents_str,class_label
0,data_GPU/city_streets/melbourne/00000010.jpg,data_GPU/city_streets/melbourne,00000010.jpg,data_GPU/city_streets/melbourne,melbourne
1,data_GPU/city_streets/melbourne/00000004.jpg,data_GPU/city_streets/melbourne,00000004.jpg,data_GPU/city_streets/melbourne,melbourne
2,data_GPU/city_streets/melbourne/00000005.jpg,data_GPU/city_streets/melbourne,00000005.jpg,data_GPU/city_streets/melbourne,melbourne
3,data_GPU/city_streets/melbourne/00000011.jpg,data_GPU/city_streets/melbourne,00000011.jpg,data_GPU/city_streets/melbourne,melbourne
4,data_GPU/city_streets/melbourne/00000007.jpg,data_GPU/city_streets/melbourne,00000007.jpg,data_GPU/city_streets/melbourne,melbourne

## Make data = ImageItemList.from_df()

In [27]:
doc(ImageItemList.from_df)

In [48]:
# create path & folder to put output into
path = Path('.')

In [28]:
pwd

'/Users/Ds2007laptop/Documents/Work/Programming/fastai/courses/course-v3'

In [30]:
ls data_GPU/city_streets

dallas/            melbourne/         new-york/          san-francisco/
dallas.txt         melbourne.txt      new-york.txt       san-francisco.txt

In [21]:
path.ls()

[PosixPath('data_GPU'),
 PosixPath('tools'),
 PosixPath('LICENSE'),
 PosixPath('nbs'),
 PosixPath('docs'),
 PosixPath('azure-pipelines.yml'),
 PosixPath('README.md'),
 PosixPath('floyd.yml'),
 PosixPath('.gitignore'),
 PosixPath('.gitattributes'),
 PosixPath('files'),
 PosixPath('.git'),
 PosixPath('.gitconfig'),
 PosixPath('.gitignore~'),
 PosixPath('floyd_requirements.txt')]

In [35]:
df.head()

,fpaths,fparents,fnames,fparents_str,class_label
0,data_GPU/city_streets/melbourne/00000010.jpg,data_GPU/city_streets/melbourne,00000010.jpg,data_GPU/city_streets/melbourne,melbourne
1,data_GPU/city_streets/melbourne/00000004.jpg,data_GPU/city_streets/melbourne,00000004.jpg,data_GPU/city_streets/melbourne,melbourne
2,data_GPU/city_streets/melbourne/00000005.jpg,data_GPU/city_streets/melbourne,00000005.jpg,data_GPU/city_streets/melbourne,melbourne
3,data_GPU/city_streets/melbourne/00000011.jpg,data_GPU/city_streets/melbourne,00000011.jpg,data_GPU/city_streets/melbourne,melbourne
4,data_GPU/city_streets/melbourne/00000007.jpg,data_GPU/city_streets/melbourne,00000007.jpg,data_GPU/city_streets/melbourne,melbourne

In [45]:
# path/cols needs to lead to the image file 
# assign the path variable to the path that leads to the folder data/GPU 
# both `path = '.'` and `path = Path('.')` work :)
path = '.'

In [49]:
data = ImageItemList.from_df(path=path, df=df, cols='fpaths')

In [50]:
data

ImageItemList (89 items)
[Image (3, 523, 800), Image (3, 467, 700), Image (3, 467, 700), Image (3, 957, 1300), Image (3, 349, 620)]...
Path: .

# .split data into training and the validation sets

In [52]:
data = (ImageItemList.from_df(df=df, path=path, cols='fpaths')
                     .random_split_by_pct(valid_pct=0.2, seed=1))

In [53]:
data

ItemLists;
Train: ImageItemList (72 items)
[Image (3, 523, 800), Image (3, 467, 700), Image (3, 467, 700), Image (3, 957, 1300), Image (3, 349, 620)]...
Path: .;
Valid: ImageItemList (17 items)
[Image (3, 464, 700), Image (3, 1406, 2100), Image (3, 169, 225), Image (3, 720, 1280), Image (3, 1182, 2048)]...
Path: .;
Test: None

# Add .label_from_df

In [54]:
data = (ImageItemList.from_df(df=df, path=path, cols='fpaths')
                     .random_split_by_pct(valid_pct=0.2, seed=1)
                     .label_from_df(cols='class_label'))

In [55]:
data

LabelLists;
Train: LabelList
y: CategoryList (72 items)
[Category melbourne, Category melbourne, Category melbourne, Category melbourne, Category melbourne]...
Path: .
x: ImageItemList (72 items)
[Image (3, 523, 800), Image (3, 467, 700), Image (3, 467, 700), Image (3, 957, 1300), Image (3, 349, 620)]...
Path: .;
Valid: LabelList
y: CategoryList (17 items)
[Category dallas, Category san-francisco, Category dallas, Category dallas, Category san-francisco]...
Path: .
x: ImageItemList (17 items)
[Image (3, 464, 700), Image (3, 1406, 2100), Image (3, 169, 225), Image (3, 720, 1280), Image (3, 1182, 2048)]...
Path: .;
Test: None

# make databunch

In [56]:
data = (ImageItemList.from_df(df=df, path=path, cols='fpaths')
                     .random_split_by_pct(valid_pct=0.2, seed=1)
                     .label_from_df(cols='class_label')
                     .databunch())

In [57]:
data

ImageDataBunch;
Train: LabelList
y: CategoryList (72 items)
[Category melbourne, Category melbourne, Category melbourne, Category melbourne, Category melbourne]...
Path: .
x: ImageItemList (72 items)
[Image (3, 523, 800), Image (3, 467, 700), Image (3, 467, 700), Image (3, 957, 1300), Image (3, 349, 620)]...
Path: .;
Valid: LabelList
y: CategoryList (17 items)
[Category dallas, Category san-francisco, Category dallas, Category dallas, Category san-francisco]...
Path: .
x: ImageItemList (17 items)
[Image (3, 464, 700), Image (3, 1406, 2100), Image (3, 169, 225), Image (3, 720, 1280), Image (3, 1182, 2048)]...
Path: .;
Test: None

# see portions of dataset

In [60]:
data.train_ds

LabelList
y: CategoryList (72 items)
[Category melbourne, Category melbourne, Category melbourne, Category melbourne, Category melbourne]...
Path: .
x: ImageItemList (72 items)
[Image (3, 523, 800), Image (3, 467, 700), Image (3, 467, 700), Image (3, 957, 1300), Image (3, 349, 620)]...
Path: .

In [61]:
data.valid_ds

LabelList
y: CategoryList (17 items)
[Category dallas, Category san-francisco, Category dallas, Category dallas, Category san-francisco]...
Path: .
x: ImageItemList (17 items)
[Image (3, 464, 700), Image (3, 1406, 2100), Image (3, 169, 225), Image (3, 720, 1280), Image (3, 1182, 2048)]...
Path: .

In [62]:
data.valid_ds[0]

(Image (3, 464, 700), Category dallas)

In [22]:
np.random.seed(1)

In [18]:
# create variable with transforms
# size sets the size of the imagae
# do_crop=False adds padding on the side(s) that needs to get bigger
# padding_mode reflection is best, like looking in a mirror
# ResizeMethod.PAD
# city_tfms = get_transforms(size=128, do_crop=False, padding_mode='reflection')


# resize_method=ResizeMethod.PAD)

In [23]:
# build pathnames to my images
# path = Look through all folders within parent folder of path
# cols = column names
cols = 'fnames', 'classes'

In [24]:
# will generate
# path.fname.suffix

# will put a list into folder

AttributeError: 'PosixPath' object has no attribute 'fname'

In [ ]:
# path that I am in now

In [ ]:
# path/folder/col=fname

In [ ]:
# use .from_folder

In [ ]:
dataframe looks like planet csv file
filenames labels