# Make a dataframe with cities

In [6]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [7]:
from fastai import *
from fastai.vision import *

In [1]:
cd ~/Documents/Work/Programming/fastai/collabfastai/course-v3/

/Users/Ds2007laptop/Documents/Work/Programming/fastai/collabfastai/course-v3

In [2]:
ls

LICENSE                 docs/                   nbs/
README.md               files/                  tools/
azure-pipelines.yml     floyd.yml
data_GPU/               floyd_requirements.txt

In [4]:
ls data_GPU/city_streets/

dallas/            melbourne/         new-york/          san-francisco/
dallas.txt         melbourne.txt      new-york.txt       san-francisco.txt

In [16]:
# define variable: paths to images
fpaths = list(Path('./data_GPU/city_streets/').rglob('*.jpg')); paths[:5]

[PosixPath('data_GPU/city_streets/melbourne/00000010.jpg'),
 PosixPath('data_GPU/city_streets/melbourne/00000004.jpg'),
 PosixPath('data_GPU/city_streets/melbourne/00000005.jpg'),
 PosixPath('data_GPU/city_streets/melbourne/00000011.jpg'),
 PosixPath('data_GPU/city_streets/melbourne/00000007.jpg')]

In [19]:
# put fpaths in a Series
fpath_s = pd.Series(fpaths, name='fpaths'); path_s.head()

0    data_GPU/city_streets/melbourne/00000010.jpg
1    data_GPU/city_streets/melbourne/00000004.jpg
2    data_GPU/city_streets/melbourne/00000005.jpg
3    data_GPU/city_streets/melbourne/00000011.jpg
4    data_GPU/city_streets/melbourne/00000007.jpg
Name: fpaths, dtype: object

In [15]:
# define variable filenames as a list
fnames = []

# populate the list with file names
# for each path in file paths
for path in fpaths:
    fname = path.name           # call the .name function on path
    fnames.append(fname)        # add each fname to the list fnames
    
fnames[:5]

['00000010.jpg',
 '00000004.jpg',
 '00000005.jpg',
 '00000011.jpg',
 '00000007.jpg']

In [17]:
# create Series with fnames
fname_s = pd.Series(fnames, name='fnames'); fname_s.head()

0    00000010.jpg
1    00000004.jpg
2    00000005.jpg
3    00000011.jpg
4    00000007.jpg
Name: fnames, dtype: object

In [24]:
# define variable for parent 
fparents = []

for path in fpaths:
    fparent = path.parent
    fparents.append(fparent)
    
fparents[:5]

[PosixPath('data_GPU/city_streets/melbourne'),
 PosixPath('data_GPU/city_streets/melbourne'),
 PosixPath('data_GPU/city_streets/melbourne'),
 PosixPath('data_GPU/city_streets/melbourne'),
 PosixPath('data_GPU/city_streets/melbourne')]

In [25]:
# make a Series
fparent_s = pd.Series(fparents, name='fparents'); fparent_s.head()

0    data_GPU/city_streets/melbourne
1    data_GPU/city_streets/melbourne
2    data_GPU/city_streets/melbourne
3    data_GPU/city_streets/melbourne
4    data_GPU/city_streets/melbourne
Name: fparents, dtype: object

In [60]:
# get filename before extension
fstems = []

for path in fpaths:
    fstem = path.stem
    fstems.append(fstem)
    
fstems[:5]

['00000010', '00000004', '00000005', '00000011', '00000007']

In [62]:
# concatonate two Series to make a dataframe
df = pd.concat([fpath_s, fparent_s, fname_s], axis=1); df.head()

,fpaths,fparents,fnames
0,data_GPU/city_streets/melbourne/00000010.jpg,data_GPU/city_streets/melbourne,00000010.jpg
1,data_GPU/city_streets/melbourne/00000004.jpg,data_GPU/city_streets/melbourne,00000004.jpg
2,data_GPU/city_streets/melbourne/00000005.jpg,data_GPU/city_streets/melbourne,00000005.jpg
3,data_GPU/city_streets/melbourne/00000011.jpg,data_GPU/city_streets/melbourne,00000011.jpg
4,data_GPU/city_streets/melbourne/00000007.jpg,data_GPU/city_streets/melbourne,00000007.jpg

In [63]:
df['fparents_str'] = df['fparents'].apply(lambda x: str(x)); df.head()

,fpaths,fparents,fnames,fparents_str
0,data_GPU/city_streets/melbourne/00000010.jpg,data_GPU/city_streets/melbourne,00000010.jpg,data_GPU/city_streets/melbourne
1,data_GPU/city_streets/melbourne/00000004.jpg,data_GPU/city_streets/melbourne,00000004.jpg,data_GPU/city_streets/melbourne
2,data_GPU/city_streets/melbourne/00000005.jpg,data_GPU/city_streets/melbourne,00000005.jpg,data_GPU/city_streets/melbourne
3,data_GPU/city_streets/melbourne/00000011.jpg,data_GPU/city_streets/melbourne,00000011.jpg,data_GPU/city_streets/melbourne
4,data_GPU/city_streets/melbourne/00000007.jpg,data_GPU/city_streets/melbourne,00000007.jpg,data_GPU/city_streets/melbourne

In [68]:
df['class_label'] = df['fparents_str'].str.split("/", expand=True)[2]; df.head()

,fpaths,fparents,fnames,fparents_str,class_label
0,data_GPU/city_streets/melbourne/00000010.jpg,data_GPU/city_streets/melbourne,00000010.jpg,data_GPU/city_streets/melbourne,melbourne
1,data_GPU/city_streets/melbourne/00000004.jpg,data_GPU/city_streets/melbourne,00000004.jpg,data_GPU/city_streets/melbourne,melbourne
2,data_GPU/city_streets/melbourne/00000005.jpg,data_GPU/city_streets/melbourne,00000005.jpg,data_GPU/city_streets/melbourne,melbourne
3,data_GPU/city_streets/melbourne/00000011.jpg,data_GPU/city_streets/melbourne,00000011.jpg,data_GPU/city_streets/melbourne,melbourne
4,data_GPU/city_streets/melbourne/00000007.jpg,data_GPU/city_streets/melbourne,00000007.jpg,data_GPU/city_streets/melbourne,melbourne

## Make an Image Data Bunch

In [73]:
# create path & folder to put output into
path = Path('./data_GPU/city_streets/')

In [ ]:
# create variable with transforms
# size sets the size of the imagae
# do_crop=False adds padding on the side(s) that needs to get bigger
# padding_mode reflection is best, like looking in a mirror
# ResizeMethod.PAD
city_tfms = get_transforms(size=128, do_crop=False, padding_mode='reflection', resize_method=ResizeMethod.PAD)

In [ ]:
data = (ImageItemList.from_df(df=df, path=fpaths, name=fnames)
        .label_from_df(label_col=class_label)
        .transform(city_tfms, size=128)
        .random_split_by_pct(float=0.2)
        .databunch())
        
    
    path=path folder= df=df, fpaths, name=fnames, label_col=class_label, valid_pct:float=0.2)