# Make a dataframe with cities

In [1]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [2]:
from fastai import *
from fastai.vision import *
from fastai.tabular import *

In [3]:
cd ~/Documents/Work/Programming/fastai/collabfastai/course-v3/

/Users/Ds2007laptop/Documents/Work/Programming/fastai/collabfastai/course-v3

In [4]:
ls

LICENSE                 docs/                   nbs/
README.md               files/                  tools/
azure-pipelines.yml     floyd.yml
data_GPU/               floyd_requirements.txt

In [5]:
ls data_GPU/city_streets/

dallas/            melbourne/         new-york/          san-francisco/
dallas.txt         melbourne.txt      new-york.txt       san-francisco.txt

In [6]:
# define variable: paths to images
fpaths = list(Path('./data_GPU/city_streets/').rglob('*.jpg')); fpaths[:5]

[PosixPath('data_GPU/city_streets/melbourne/00000010.jpg'),
 PosixPath('data_GPU/city_streets/melbourne/00000004.jpg'),
 PosixPath('data_GPU/city_streets/melbourne/00000005.jpg'),
 PosixPath('data_GPU/city_streets/melbourne/00000011.jpg'),
 PosixPath('data_GPU/city_streets/melbourne/00000007.jpg')]

In [7]:
# put fpaths in a Series
fpath_s = pd.Series(fpaths, name='fpaths'); fpath_s.head()

0    data_GPU/city_streets/melbourne/00000010.jpg
1    data_GPU/city_streets/melbourne/00000004.jpg
2    data_GPU/city_streets/melbourne/00000005.jpg
3    data_GPU/city_streets/melbourne/00000011.jpg
4    data_GPU/city_streets/melbourne/00000007.jpg
Name: fpaths, dtype: object

In [8]:
# define variable filenames as a list
fnames = []

# populate the list with file names
# for each path in file paths
for path in fpaths:
    fname = path.name           # call the .name function on path
    fnames.append(fname)        # add each fname to the list fnames
    
fnames[:5]

['00000010.jpg',
 '00000004.jpg',
 '00000005.jpg',
 '00000011.jpg',
 '00000007.jpg']

In [9]:
# create Series with fnames
fname_s = pd.Series(fnames, name='fnames'); fname_s.head()

0    00000010.jpg
1    00000004.jpg
2    00000005.jpg
3    00000011.jpg
4    00000007.jpg
Name: fnames, dtype: object

In [10]:
# define variable for parent 
fparents = []

for path in fpaths:
    fparent = path.parent
    fparents.append(fparent)
    
fparents[:5]

[PosixPath('data_GPU/city_streets/melbourne'),
 PosixPath('data_GPU/city_streets/melbourne'),
 PosixPath('data_GPU/city_streets/melbourne'),
 PosixPath('data_GPU/city_streets/melbourne'),
 PosixPath('data_GPU/city_streets/melbourne')]

In [11]:
# make a Series
fparent_s = pd.Series(fparents, name='fparents'); fparent_s.head()

0    data_GPU/city_streets/melbourne
1    data_GPU/city_streets/melbourne
2    data_GPU/city_streets/melbourne
3    data_GPU/city_streets/melbourne
4    data_GPU/city_streets/melbourne
Name: fparents, dtype: object

In [12]:
# get filename before extension
fstems = []

for path in fpaths:
    fstem = path.stem
    fstems.append(fstem)
    
fstems[:5]

['00000010', '00000004', '00000005', '00000011', '00000007']

In [13]:
# concatonate two Series to make a dataframe
df = pd.concat([fpath_s, fparent_s, fname_s], axis=1); df.head()

,fpaths,fparents,fnames
0,data_GPU/city_streets/melbourne/00000010.jpg,data_GPU/city_streets/melbourne,00000010.jpg
1,data_GPU/city_streets/melbourne/00000004.jpg,data_GPU/city_streets/melbourne,00000004.jpg
2,data_GPU/city_streets/melbourne/00000005.jpg,data_GPU/city_streets/melbourne,00000005.jpg
3,data_GPU/city_streets/melbourne/00000011.jpg,data_GPU/city_streets/melbourne,00000011.jpg
4,data_GPU/city_streets/melbourne/00000007.jpg,data_GPU/city_streets/melbourne,00000007.jpg

In [14]:
df['fparents_str'] = df['fparents'].apply(lambda x: str(x)); df.head()

,fpaths,fparents,fnames,fparents_str
0,data_GPU/city_streets/melbourne/00000010.jpg,data_GPU/city_streets/melbourne,00000010.jpg,data_GPU/city_streets/melbourne
1,data_GPU/city_streets/melbourne/00000004.jpg,data_GPU/city_streets/melbourne,00000004.jpg,data_GPU/city_streets/melbourne
2,data_GPU/city_streets/melbourne/00000005.jpg,data_GPU/city_streets/melbourne,00000005.jpg,data_GPU/city_streets/melbourne
3,data_GPU/city_streets/melbourne/00000011.jpg,data_GPU/city_streets/melbourne,00000011.jpg,data_GPU/city_streets/melbourne
4,data_GPU/city_streets/melbourne/00000007.jpg,data_GPU/city_streets/melbourne,00000007.jpg,data_GPU/city_streets/melbourne

In [15]:
df['class_label'] = df['fparents_str'].str.split("/", expand=True)[2]; df.head()

,fpaths,fparents,fnames,fparents_str,class_label
0,data_GPU/city_streets/melbourne/00000010.jpg,data_GPU/city_streets/melbourne,00000010.jpg,data_GPU/city_streets/melbourne,melbourne
1,data_GPU/city_streets/melbourne/00000004.jpg,data_GPU/city_streets/melbourne,00000004.jpg,data_GPU/city_streets/melbourne,melbourne
2,data_GPU/city_streets/melbourne/00000005.jpg,data_GPU/city_streets/melbourne,00000005.jpg,data_GPU/city_streets/melbourne,melbourne
3,data_GPU/city_streets/melbourne/00000011.jpg,data_GPU/city_streets/melbourne,00000011.jpg,data_GPU/city_streets/melbourne,melbourne
4,data_GPU/city_streets/melbourne/00000007.jpg,data_GPU/city_streets/melbourne,00000007.jpg,data_GPU/city_streets/melbourne,melbourne

## Make an Image Data Bunch

In [25]:
# create path & folder to put output into
path = Path('./data_GPU/city_streets/')

In [26]:
path.ls()

[PosixPath('data_GPU/city_streets/melbourne'),
 PosixPath('data_GPU/city_streets/melbourne.txt'),
 PosixPath('data_GPU/city_streets/.DS_Store'),
 PosixPath('data_GPU/city_streets/new-york'),
 PosixPath('data_GPU/city_streets/dallas'),
 PosixPath('data_GPU/city_streets/dallas.txt'),
 PosixPath('data_GPU/city_streets/san-francisco'),
 PosixPath('data_GPU/city_streets/san-francisco.txt'),
 PosixPath('data_GPU/city_streets/new-york.txt')]

In [18]:
# create variable with transforms
# size sets the size of the imagae
# do_crop=False adds padding on the side(s) that needs to get bigger
# padding_mode reflection is best, like looking in a mirror
# ResizeMethod.PAD
# city_tfms = get_transforms(size=128, do_crop=False, padding_mode='reflection')


# resize_method=ResizeMethod.PAD)

In [27]:
np.random.seed(1)

In [20]:
# data = (ImageItemList.from_df(df=df, path=path, cols='fpaths')
#         .label_from_df(cols='class_label')
#         .transform(city_tfms, size=128)
#         .random_split_by_pct(valid_pct=0.2)
#         .databunch())

In [21]:
doc(ImageItemList.from_df)

In [29]:
df.head()

,fpaths,fparents,fnames,fparents_str,class_label
0,data_GPU/city_streets/melbourne/00000010.jpg,data_GPU/city_streets/melbourne,00000010.jpg,data_GPU/city_streets/melbourne,melbourne
1,data_GPU/city_streets/melbourne/00000004.jpg,data_GPU/city_streets/melbourne,00000004.jpg,data_GPU/city_streets/melbourne,melbourne
2,data_GPU/city_streets/melbourne/00000005.jpg,data_GPU/city_streets/melbourne,00000005.jpg,data_GPU/city_streets/melbourne,melbourne
3,data_GPU/city_streets/melbourne/00000011.jpg,data_GPU/city_streets/melbourne,00000011.jpg,data_GPU/city_streets/melbourne,melbourne
4,data_GPU/city_streets/melbourne/00000007.jpg,data_GPU/city_streets/melbourne,00000007.jpg,data_GPU/city_streets/melbourne,melbourne

In [32]:
data = ImageItemList.from_df(df=df, path='.', cols='fpaths')

In [33]:
data

ImageItemList (89 items)
[Image (3, 523, 800), Image (3, 467, 700), Image (3, 467, 700), Image (3, 957, 1300), Image (3, 349, 620)]...
Path: .

In [23]:
# build pathnames to my images
# path = Look through all folders within parent folder of path
# cols = column names
cols = 'fnames', 'classes'

In [24]:
# will generate
# path.fname.suffix

# will put a list into folder

AttributeError: 'PosixPath' object has no attribute 'fname'

In [ ]:
# path that I am in now

In [ ]:
# path/folder/col=fname

In [ ]:
# use .from_folder

In [ ]:
dataframe looks like planet csv file
filenames labels